{% extends 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Inquiry</title>
</head>
<body>
    {% block content %}

    <h2>Password Reset</h2>
    <p>Please verify your email and username</p>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.email.label }}
        {{ form.email }}
        <br>
        {{ form.username.label }}
        {{ form.username }}
        <br><br>
        {% if error %}
        <p>{{ error}}</p>
        {% endif %}
        <button type="submit">Confirm</button>

    </form>
    <a href="{% url 'profile' %}" class="logout-button"><button>Cancel</button></a>
    {% endblock %}

</body>
</html>