{% extends 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Text Translation</title>
</head>
<body>
    {% block content %}

    <div class="container">
        <div class="profile-info">
            <div>
                <p><label for="first_name">First Name:</label> <span>{{user.first_name}}</span></p>
                <p><label for="last_name">Last Name:</label> <span>{{user.last_name}}</span></p>
                <p><label for="username">Username:</label> <span>{{user.username}}</span></p>
                <p><label for="email">Email:</label> <span>{{user.email}}</span></p>
                <p><label for="dob">Date of Birth:</label> <span>January 1, 1990</span></p>
            </div>
            <div>
            </div>
        </div>
        <a href="{% url 'profile_edit' %}">Update Profile</a>
        <a href="{% url 'password_reset_inquiry' %}" >Update Password</a>      
    </div>
    {% endblock %}
</body>
</html>
