{% extends 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Home-user</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">


</head>
<body>
    {% block content %}
    <ul class="nav nav-pills nav-justified">
        <li><a href="{% url 'translate_history' %}">Text</a></li>
        <li><a href="{% url 'translate_image_history' %}">Image</a></li>
    </ul>
    <div class="container mt-5"></div>
        <table id="translate-history-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Date</th>
                <th scope="col">Text to Translate</th>
                <th scope="col">Detected Language</th>
                <th scope="col">Target Language</th>
                <th scope="col">Translation Results</th>
                </tr>
                </thead>
                <tbody>
            {% for history in translated_history %}
            {% if history.text_boolean %}
            <tr>
                <th><button name="button_delete" ng-click="button_delete()">Delete</button></th>
                <th>{{history.date}}</th>
                <td><textarea name="translate-history-text-to-translate">{{ history.text_to_translate }}</textarea></td>
                <td>{{ history.detected_language }}</td>
                <td>{{ history.target_language }}</td>
                <td><textarea name="translate-history-translated_results">{{ history.translated_results }}</textarea></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% endblock %}
    </body>
</html>

