{% extends 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <script src="{% static 'app.js' %}"></script>
    <title>Text Translation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body>
    {% block content %}
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item-sub"><a href="{% url 'translate_text' %}">Text</a></li>
        <li class="nav-item-sub"><a href="{% url 'translate_image' %}">Image</a></li>
    </ul>
    <div>
        <table id="translate-history-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <th scope="col"><label>Language to Detect (optional)</label></th>
                <th scope="col"><label>Text to Translate</label></th>
                <th scope="col"><label>Target Language<br>(default=English)</label></th>
                <th scope="col"></th>
                <th scope="col"><label>Translation Results</label></th>
            </thead>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <tbody>
                <tr>
                <th>
                    {% if error_message %}
                    <p><label>{{error_message}}</label></p>
                    {% endif %}
                    <select name="language_dropdown">
                        {% for gt_language in gt_languages %}
                        {% if previous_detect_lang == gt_language %}
                        <option selected>{{gt_language}}</option>
                        {% else %}
                        <option>{{gt_language}}</option>
                        {% endif %}
                        {% endfor %}
                    </select> 
                </th>
                <th>
                    <textarea name="text" id="text-input" placeholder="Enter text to translate" required>{% if original_text %}{{ original_text }}{% endif %}</textarea><br>
                </th>
                <th>
                    <select name="target_language">
                        {% for gt_language in gt_languages %}
                        {% if previous_target_lang == gt_language or gt_language == "en || english" %}
                        <option selected>{{gt_language}}</option>
                        {% else %}
                        <option>{{gt_language}}</option>
                        {% endif %}
                        {% endfor %}
                    </select> 
                </th>
                <th>
                    <button type="submit">Translate</button>
                </th>
                <th>
                    <textarea name="results-text">{{ translated_text }}</textarea>
                </th>
                </tr>
            </tbody>
            </form>
    </div>
    {% endblock %}
</body>
</html>