{% extends 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Text Translation</title>
</head>
<body>
    {% block content %}
    <ul class="nav nav-pills nav-justified">
        <li><a href="{% url 'translate_text' %}">Text</a></li>
        <li><a href="{% url 'translate_image' %}">Image</a></li>
    </ul>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if error_message %}
        <label>{{ error_message}}</label>
        {% else %}
        <br>
        {% endif %}
        <label>For image translations, we need an intended language detection</label>
        <br>
        <label>Language to detect (required):</label>
        <br><br>
        <input type="text" name="detect_language" placeholder="e.g., bra (brazillian)" value="{% if language_detected %}{{ language_detected }}{% endif %}"/>
        <br><br>
        <label>Select Image to Translate</label>
        <br><br>
        <input type="file" name="image" required /><br>
        <label for="target_language"> Target Language (default is English): </label>
        <br><br>
        <input type="text" name="target_language" placeholder="e.g., br (brazillian)" value="{% if target_language %}{{ target_language }}{% endif %}" />
        <br><br>
        <button type="submit">Translate Image</button>
    </form>
    <br><br>
    <label>Translation Results:</label>
    <br><br>
    {% if original_text %}
    <textarea name="text">{{ translated_text }}</textarea>
    <br><br>
    <label>Detected Text:</label>
    <br><br>
    <textarea name="text">{{ original_text }}</textarea>
    <br><br>
    <label>Image view:</label>
    <br><br>
    <img src="{{ image_to_translate }}"/>
    {% endif %}
    {% endblock %}
</body>
</html>
