<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Nav</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Hi {% if user %}{{user.first_name}} <a href="{% url 'logout' %}">Logout</a>{% endif %}</h1>
    <h2>Welcome to ClickLate</h2>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item"><a href="{% url 'home-user' %}">Home</a></li>
        <li class="nav-item"><a href="{% url 'translate_text' %}">Translation</a></li>
        <li class="nav-item"><a href="{% url 'translate_text_history' %}">History</a></li>
        <li class="nav-item"><a href="{% url 'profile' %}">Profile</a></li>
    </ul>
    {% block content %}
    {% endblock %}
    <script src="{% static 'app.js' %}"></script>
</body>
</html>