<!DOCTYPE html>
<html>
<head>
    <title>main</title>
    <link ref="stylesheet" href="main.css">
    <!-- <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"> -->
    <!-- <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js">
    <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"> -->


</head>

<body>
    {% block content %}


    {% endblock %}
</body>
</html>
